URxvt.background: black
URxvt.foreground: white
URxvt.scrollBar: off
URxvt.font: xft:DejavuSansMono:pixelsize=11
URxvt.transparent: true
URxvt.tintColor: white
URxvt.shading: 20
! URxvt.font: xft:Source Code Pro:pixelsize=10
